.wrapper {
    height: 40px;
    width: 100%;
}
.wrapper:hover {
    background-color: #e6e5ea;
}
.buttonItem {
    width: max-content;
    font-weight: 300;
    padding-right: 50px;
    font-size: 14px;
    color: #585561;
}
// icon
.icon {
    width: 18px;
    color: #585561;
    margin-right: 8px;
}
