.wrapper {
    min-width: 40px;
    padding: 4px 13px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    user-select: none;
    display: flex;
    align-items: center;
    + .wrapper {
        margin-left: 10px;
    }
    width: fit-content;
    color: #FFF;
}
.wrapper:hover {
    cursor: pointer; /* đổi thành con trỏ bàn tay */
}

// css khi avatar group = 0
.avatarGroup {
    transform: translateX(30px);
}
.outline {
    border: 1px solid #FFF;
    color: #FFF;
    &:hover {
        background-color: #e2eaf3;
    }
}
.left-icon {
    margin-right: 8px;
}
.left-icon:hover {
    cursor: pointer; /* đổi thành con trỏ bàn tay */
}
.right-icon {
    margin-left: 8px;
}

.right-icon:hover {
    cursor: pointer; /* đổi thành con trỏ bàn tay */
}
.chipHover {
    height: 31px;
    &:hover {
        background-color: #6da9ed;
        cursor: pointer; /* đổi thành con trỏ bàn tay */
    }
    font-weight: 500;
    color: #FFF;
}
// css input file
.hidden-input {
    display: none;
}
.button-wrapper {
    display: flex;
    width: fit-content;
    white-space: nowrap;
}
