.tab {
    margin-top: 10px;
    display: flex;
}
.tab-button {
    display: flex;
    border-bottom: 2px solid #9ca4cc;
    width: 100%;
}
.tab-icon {
    width: 23px;
    height: 23px;
    color: var(--color-tab-account);
}
.button {
    color: var(--color-tab-account);
    border-radius: 0%;
    padding-bottom: 8px;
    transform: translateY(1px);
    position: relative;
    transition: color 0.3s ease;
}
.button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #495a9e;
    transition: width 0.3s ease;
}
// active button
.activeItem {
    color: var(--color-tab-account-active);
}
.activeButton {
    color: var(--color-tab-account-active);
    border-bottom: 2px solid var(--color-tab-account-active);
}
.button.activeButton::after {
    width: 100%;
}
