.preventive {
    height: 100%;
    background-color: aqua;
}
.wrapper {
    width: 93%;
    border-radius: 6px;
    background-color: #fcfcfc !important; /* hoáº·c #fafafa */
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    cursor: pointer;
}
.wrapper:hover {
    box-shadow: 0 1px 5px rgba(201, 23, 192, 0.879);
}
.image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius : 5px;
}
.content {
    margin-top: 12px;
    font-size: 17px;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
}
.footer {
    margin-top: 10px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--color-green);
}
.icon {
    width: 20px;
}
.icon2 {
    width: 17px;
    margin-top: 2px;
}
