.overlay {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.wrapper {
    height: fit-content;
    width: 33%;
    min-height: 40%;
    background-color: var(--color-active-card);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}
.header {
    display: flex;
    gap: 10px;
    width: 100%;
}
.header > p {
    font-size: 17px;
    font-weight: 600;
    width: 90%;
    color: var(--color-button-boards) !important;
}
.iconCreate {
    width: 20px;
    height: 20px;
    color: var(--color-button-boards) !important;
}
.iconClose {
    width: 20px;
    height: 20px;
    color: red;
}
// hiện popup
.onPopUp {
    display: flex;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

// custom input
.input-username {
    width: 100%;
    height: 45px;
    border: 1px solid#a19eaa8e;
    font-size: 15px;
    color: var(--color-button-boards);
}
.input-username:hover {
    border: 1px solid var(--color-border-active-card);
}
.label-input-username {
    transform: translateY(-8px) translateX(5px) !important;
    font-size: 11px !important;
    background-color: var(--color-input-boards);
    color: #a19eaa;
    z-index: 999;
}
.hide-info-icon {
    color: var(--color-icon-boards);
    width: 20px;
    height: 20px;
}

// scope-radio
.scope-radio {
    display: flex;
    gap: 20px;
    margin-left: 20px;
}
.scope-radio > div {
    display: flex;
    gap: 10px;
}
.scope-radio div > label {
    font-size: 15px;
    color: var(--color-button-boards) !important;
}
.scope-radio div > input[type='radio'] {
    accent-color: rgb(0, 4, 255); /* đổi màu chấm tròn */
    width: 18px;
    height: 18px;
}
.btn-create {
    background-color: rgb(0, 68, 255);
    color: white;
    padding-bottom: 8px !important;
    padding-top: 8px !important;
    margin-left: calc(100vw - 72%);
}
