.wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: calc(100vh - var(--app-bar-height) - var(--board-bar-height) - 50px); /* trừ đi chiều cao header nếu có */
}
.account {
    margin-top: 40px;
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.set-avatar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-left: 20%;
}
.avatar-user {
    display: flex;
    gap: 20px;
}
.avatar-user span {
    background-color: #bab9c7;
    width: 70px;
    height: 70px;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-icon {
    color: white;
    background-color: #bab9c7;
    width: 55px;
    height: 55px;
    border-radius: 999px;
}
.user-name {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 6px;
}
.user-name > p:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
}
.icon-upload {
    width: 16px;
    height: 16px;
    color: white;
}
.button-upload {
    padding: 5px;
    background-color: blue;
    color: white;
    margin-right: 110px;
}

.hide-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-color: #ebeaf6;
    border-radius: 3px;
    padding: 7px 7px 7px 8px;
}
.hide-info > p {
    font-size: 12px;
    color: #a19eaa;
}
.hide-info-content {
    display: flex;
    gap: 10px;
    color: #a19eaa;
}
.hide-info-content > p {
    font-size: 16px;
}
.hide-info-icon {
    color: #4c4b4f;
    width: 20px;
    height: 20px;
}
.input-username {
    width: 100%;
    height: 45px;
    border: 2px solid#a19eaa;
    font-size: 15px;
    color: #48474c;
}
.input-username:hover {
    border-color: #a19eaa;
}
.label-input-username {
    font-size: 11px !important;
    background-color: white;
    color: #a19eaa;
}
.button-update {
    width: calc(100vw / 3 - 128px);
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    height: 40px;
}
