.wrapper {
    width: 99%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 70px;
}
.hearder {
    display: flex;
    gap: 5px;
}
.hearder > img {
    width: 40px;
    height: 40px;
    border-radius: 999px;
}
.hearder > input {
    border: 0.5px solid rgba(75, 67, 67, 0.427);
    border-radius: 5px;
    flex: 1;
    padding-left: 10px;
    color: rgba(27, 25, 25, 0.858);
}
.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 1%;
}
.content > p {
    margin-left: 8%;
    font-size: 13px;
    color: rgba(27, 25, 25, 0.858);
}
.contentActivity {
    display: flex;
    gap: 10px;
    width: 100%;
}

.contentActivity > img {
    width: 30px;
    height: 30px;
    border-radius: 999px;
}

.userInfoAndInput {
    flex: 1;
    min-width: 0; /* BẮT BUỘC để nó co giãn đúng */
}

.userInfoAndInput > input {
    width: 100%;
    border: 0.5px solid rgba(118, 111, 111, 0.427);
    border-radius: 5px;
    flex: 1;
    padding-left: 10px;
    color: var(--color-gray);
    height: 35px;
}

.userInfo {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
    align-items: center;
}
.userInfo > p {
    font-size: 14px;
}
.userInfo > p:nth-of-type(1) {
    font-weight: bold;
}
.userInfo > p:nth-of-type(2) {
    font-size: 12px;
    color: #4d4b4bde;
}
