.wrapper {
    position: relative;
}
.label-search {
    position: absolute;
    z-index: 999;
    top: -11px;
    left: 7px;
    font-size: 14px;
    background: #f9f9f9;
    padding: 0 6px;
    color: var(--color-green);
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(5px) scale(0.85);
}
.searchInput {
    height: 31.45px;
    width: 170px;
    border: 1px solid var(--color-green);
    border-radius: 4px;
    font-size: 14px;
    padding: 0 8px;
    color: var(--color-green);
    font-weight: 500;
    &:hover {
        border: 2px solid var(--color-green);
    }
    &:focus::placeholder {
        color: transparent;
    }
}
.searchInput:focus + .label-search {
    opacity: 1;
    top: -10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(0) scale(1);
}
.searchInput.hasValueInInput + .label-search {
    opacity: 1;
    top: -10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(0) scale(1);
}
.searchInput.hasValue + .label-search {
    opacity: 1;
    top: 1px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(0) scale(1);
}
