.wrapper {
    position: relative;
}
.left-icon {
    position: absolute;
    top: 12px;
    left: 10px;
}
.label-search {
    position: absolute;
    z-index: 999;
    top: -11px;
    left: 7px;
    font-size: 14px;
    background: #0057e9;
    padding: 0 6px;
    color: #fcfcfc;
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
    pointer-events: none;
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(5px) scale(0.85);
}
.searchInput {
    height: 31.45px;
    width: 170px;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 0 8px;
    color: #fff;
    font-weight: 500;
    &:hover {
        border: 2px solid #fff;
    }
    &:focus::placeholder {
        color: transparent;
    }
}
.searchInput:focus + .label-search {
    opacity: 1;
    top: -10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(0) scale(1);
}
.searchInput.hasValueInInput + .label-search {
    opacity: 1;
    top: -10px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(0) scale(1);
}
.searchInput.hasValue + .label-search {
    opacity: 1;
    top: 1px;
    font-size: 12px;
    font-weight: 600;
    transform: translateY(0) scale(1);
}
.marginLeft {
    padding-left: 37px;
}

// loadingIcon
.loadingIcon {
    width: 20px;
    height: 20px;
    color: #fff;
    animation: spinner 1.5s linear infinite;
}
.closeIcon {
    transform: translateX(-25px) translateY(5px);
    width: 20px;
    height: 20px;
    color: #fff;
}
@keyframes spinner {
    from {
        transform: translateX(-25px) translateY(5px) rotate(0deg);
    }
    to {
        transform: translateX(-25px) translateY(5px) rotate(360deg);
    }
}
