:root {
    --defaut-header-height: 60px;
    --color-green: #008476;
    --app-bar-height: 50px;
    --board-bar-height: 50px;
    // card
    --column-card-title: 50px;
    --footer-card: 40px;
    // column
    --menu-height-column: 1px;
}
/* Áp box-sizing cho mọi phần tử và cả pseudo-elements */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Nếu bạn muốn reset luôn margin/padding */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1rem;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    background-color: transparent;
}

a[href] {
    text-decoration: none;
    color: black;
}

// Css scroll
/* Scrollbar CSS */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
.tippy-box {
    background-color: #333 !important;
    color: rgb(0, 0, 0) !important;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 13px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* React-Toastify custom */
/* Custom React-Toastify */
:global(.Toastify__toast) {
    font-size: 14px !important;
    padding: 8px 20px !important;
    min-height: 40px !important;
    width: auto !important; /* co theo nội dung */
    min-width: 240px !important; /* giữ tối thiểu */
    max-width: 400px !important; /* giới hạn chiều ngang một chút để buộc xuống dòng */

    z-index: 1 !important; /* hạ z-index */
}

:global(.Toastify__toast-body) {
    white-space: normal !important; /* cho phép xuống dòng */
    word-break: break-word !important; /* tự ngắt khi dài */
}
:global(.Toastify__close-button > svg) {
    width: 16px !important;
    height: 16px !important;
}
#root[aria-hidden='true'] {
    aria-hidden: false !important;
}
