//menu-dropDown
.menu-dropDown {
    position: relative;
    display: flex;
    justify-content: center;
    height: 27px;
}
.button {
    min-width: 30px;
    font-weight: bold;
    color: #ffffffe0;
}
.avatar {
    width: 27px;
    height: 27px ;
    border-radius: 999px;
    object-fit: cover;
}
